{% extends 'users/base.html' %}
{% block title %}
 Tizimdan chiqish
{% endblock title %}
    {% block content %}
    <div class="card mt-5">
        <div class="card-header">
         Tizmidan chiqish
        </div>
         <form method="post"> {% csrf_token %}
             <div class="card-body">
              <p>Siz rostdan ham tizmidan chiqibketmoqchimisiz?</p>
                <button type="submit" class="btn btn-danger" >Chiqish</button>
                  <a class="btn btn-primary" href="{% url 'index' %}">Bosh sahifaga qaytish</a>
              </div>
       </form>
 </div>
    {% endblock content %}